@use '../abstract/var' as v;

.card {
    position: relative;
    top: -4.5rem;
    z-index: 1;
    width: clamp(310px, 92.25%, 940px);
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    background: v.$white;
}

@media (min-width: 1024px) {
    .card {
        display: flex;
        margin-top: 11rem;
        padding: 1rem 1rem;
    }
}