@use '../abstract/var' as v;

.personal-info {
    &__title {
        font-size: 1.5rem;
        color: v.$marine-blue;
    }
    &__description {
        margin-top: 0.5rem;
        letter-spacing: 0.0125rem;
        line-height: 1.5rem;
        color: v.$cool-gray;
    }
    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        label {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            font-size: 0.75rem;
            color: v.$marine-blue;
            .label-error {
                font-weight: 700;
                color: v.$strawberry-red;
            }
        }
        .input, .input-error {
            width: 100%;
            height: 38px;
            margin-top: 0.25rem;
            padding-left: 1rem;
            border-radius: 0.5rem;
            letter-spacing: 0.05rem;
            font-weight: 700;
            color: v.$marine-blue;
            &:focus {
                outline: 1px solid v.$purplish-blue;
                outline-offset: -1px;
            }
        }
        .input {
            border: 1px solid v.$cool-gray;
        }
        .input-error {
            border: 1px solid v.$strawberry-red;
        }
    }
}

@media (min-width: 1024px) {
    .personal-info {
        margin-top: 2.325rem;
        margin-left: 6.25rem;
        &__title {
            font-size: 2rem;
        }
        &__form {
            margin-top: 1.25rem;
            gap: 0.35rem;
            label {
                font-size: 0.875rem;
            }
            .input, .input-error {
                height: 48px;
            }
        }
    }
}